/*
    We display a fallback message for users with browsers that don't support
    all the features required by it. All of the content will be still fully 
    accessible for them, but some more advanced effects would be missing.
    When impress.js detects that browser supports all necessary CSS3 features, 
    the fallback-message style is hidden.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}


/*
    Plugin functionality
*/


/*
    Speaker notes allow you to write comments within the steps, that will not 
    be displayed as part of the presentation. However, they will be picked up
    and displayed by impressConsole.js when integrated.
*/

.notes {
    display: none;
}

/* Substeps */

.impress-enabled .substep {
    opacity: 0;
}

.impress-enabled .substep.substep-visible {
    opacity: 1;
    transition: 1s;
}



/*
  This version of impress.js supports plugins, and in particular, a UI plugin
  that allows easy navigation between steps.
*/
.impress-enabled #impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
}
/*
    With help from the mouse-timeout plugin, we can hide the toolbar and
    have it show only when you move/click/touch the mouse.
*/
body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

/*
    In fact, we can hide the mouse cursor itself too, when mouse isn't used.
*/
body.impress-mouse-timeout {
    cursor: none;
}

.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #overview                { pointer-events: none }

/*****************************************************************************************
 * Help popup
 * 
 * This is originally from hovercraft.js project. I found it helpful so have started to
 * integrate with all my impress.js presentations.
 */

.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 100;
    display: block;
    font-family: Verdana, Arial, Sans;
}

.impress-enabled #impress-help td {
    width: 50%;
}

.impress-enabled #impress-help.hide {
    display: none;
}

/*
    Extra plugins
*/

/* Highlight.js has its own CSS, but I'll tune it a little */

div.step pre code {
    background: none;
} 
